:root {
  --black: rgba(18, 18, 18, 1);
  --gray: rgba(29, 29, 29, 1);
  --gradientColor1: rgba(6, 7, 7, 1);
  --gradientColor2: rgba(29, 29, 29, 1);
  --brown: rgba(190, 166, 158, 1);
  --white: rgba(255, 255, 255, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--black);
  color: var(--white);
  padding-top: 20px;

  display: flex;
  flex-direction: column;
}
section {
  margin-top: 80px;
  margin-inline: 20px;
}

.page-button {
  margin-top: 20px;
  margin-inline: 20px;
  width: 179px;
  height: 46px;
  padding: 14px 62px;
  border-radius: 12px;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
}

.page-button:hover,
.page-button:focus {
  background-color: var(--gray);
  color: var(--brown);
}

.container {
  width: 100%;
}
.title-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-family: "DM Sans", serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--white);
}
.title .title-span {
  color: var(--brown);
}

.description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}
/* Page Header */

.page-header {
  width: 100%;
  height: 60px;
  display: flex;
}
.page-header .container {
  border: 1px solid var(--gray);
  padding: 15px 20px;
  border-radius: 25px;
  display: flex;
}
.page-header .container .navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.page-header .container .navbar-menu .navbar-logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
}
.page-header .container .navbar-menu .navbar-menu-list {
  display: none;
}
.page-header .container .navbar-menu .navbar-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.page-header .container .navbar-menu .navbar-actions .navbar-menu-button {
  background-color: transparent;
  fill: var(--brown);
  cursor: pointer;
  border: 0;
}
.page-header
  .container
  .navbar-menu
  .navbar-actions
  .navbar-menu-camera-button {
  background-color: var(--gray);
  padding: 8px;
  border-radius: 50%;
}
.page-header .container .page-button {
  display: none;
}

/* Hero Section */
.hero {
  background-color: var(--gray);
  border-radius: 30px;
  margin-top: 20px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-inline: 20px;
}
.hero .container .content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero .container .content .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero .container .content .title .title-span {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: var(--brown);
}
.hero .container .media {
  display: inline-flex;
}
.hero .container .media .image {
  width: 259px;
  margin: 0 auto;
}
.hero .container .content .score {
  display: flex;
  gap: 40px;
}

.hero .container .content .score .user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.hero .container .content .users {
  display: flex;
  flex-direction: column;
}
.hero .container .content .users .user-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container .content .users .user-link .user-link-text {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  width: 70%;
}
.hero .container .content .users .user-link .user-link-icon {
  transform: rotate(40deg);
  fill: var(--white);
}

.hero .container .content .score .user-list .user-item {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 100px;
  border: 3px solid var(--gray);
  margin: 0 -10px 0 0;
}
.hero .container .content .score .user-list .user-item .user-image {
  object-fit: cover;
  clip-path: circle(55%);
}

.hero .container .content .reviews {
  display: flex;
  gap: 12px;
}

.hero .container .content .reviews .icon-box {
  background-color: var(--brown);
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 100px;
}
.hero .container .content .reviews .content-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero .container .content .reviews .content-box .title {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
}

/* Block Section */
.block {
  padding-block: 40px;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-inline: 0;
}
.block .title {
  position: absolute;
  top: 25%;
  left: -10%;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  z-index: 2;
  width: 130%;
  transform: scale(1.4);
}

/* About Us Section */
.about-us .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-us .container .media .image {
  width: 100%;
}
.about-us .container .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Our Courses Section */
.our-courses .title-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our-courses .container {
  margin-top: 40px;
}
.our-courses .container .course-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.our-courses .container .course-list .course-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 28px;
  height: 398px;
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.our-courses .container .course-list .course-item .course-item-header .no {
  color: rgba(255, 255, 255, 0.4);
}
.our-courses .container .course-list .course-item .course-item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
.our-courses .container .course-list .course-item .course-item-body .title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.our-courses
  .container
  .course-list
  .course-item
  .course-item-body
  .description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

/* Our Mentors */
.our-mentors .container {
  width: 100%;
  margin-top: 40px;
}
.our-mentors .container .mentor-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.our-mentors .container .mentor-list .mentor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-mentors .container .mentor-list .mentor-item .mentor-profile {
  background-color: #e0e0e0;
  width: 180px;
  height: 180px;
  text-align: center;
  border-radius: 50%;
  clip-path: circle(50%);
}

.our-mentors .container .mentor-list .mentor-item .mentor-info {
  margin: 16px 18px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline: 13px;
}

/* Sign Up */
.sign-up .container {
  display: flex;
  flex-direction: column;
}
.sign-up .container .content .form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}
.sign-up .container .content .form .form-input {
  padding: 14px 18px;
  border-radius: 12px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.sign-up .container .content .form textarea.form-input {
  height: 120px;
}
.sign-up .container .content .form .form-input::placeholder {
  color: #ffffff;
}

.sign-up .container .content .form .form-button {
  outline: transparent;
  box-shadow: none;
  margin-top: 40px;
  padding: 14px;
  text-align: center;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sign-up .container .content .form .form-button:hover,
.sign-up .container .content .form .form-button:focus {
  background-color: rgba(255, 255, 255, 1);
}
.sign-up .container .content .form .description {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}
.sign-up .container .content .form .description > .link {
  color: inherit;
}
.sign-up .container .media {
  display: none;
}

/* Reviews */
.reviews .container {
  margin-top: 40px;
}
.reviews .container .content .reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.reviews .container .content .reviews-list .reviews-item {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews .container .content .reviews-list .reviews-item .reviews-item-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.reviews
  .container
  .content
  .reviews-list
  .reviews-item
  .reviews-item-header
  .profile {
  display: flex;
  gap: 10px;
}

.reviews
  .container
  .content
  .reviews-list
  .reviews-item
  .reviews-item-header
  .status {
  margin: 0 66px;
}

.reviews
  .container
  .content
  .reviews-list
  .reviews-item
  .reviews-item-header
  .profile
  .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviews
  .container
  .content
  .reviews-list
  .reviews-item
  .reviews-item-header
  .profile
  .info
  .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.reviews
  .container
  .content
  .reviews-list
  .reviews-item
  .reviews-item-header
  .profile
  .info
  .departman {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #ffffff80;
}

/* Footer */
.page-footer {
  margin-top: 80px;
  border: 1px solid #ffffff33;
}
.page-footer .container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.page-footer .container .navbar-logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
}
.page-footer .container .footer-top .about .address {
  margin-top: 16px;
}
.page-footer .container .footer-top .about .address-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-footer .container .footer-top .about .address-list .address-link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.page-footer .container .footer-top .site-map {
  margin-top: 40px;
  display: inline-flex;
  gap: 40px;
}
.page-footer .container .footer-top .site-map .site-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.page-footer .container .footer-top .site-map .site-list .site-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
}
.page-footer .container .footer-top .subscribe-form {
  margin-top: 75px;
  width: 100%;
}
.page-footer .container .footer-top .subscribe-form .form {
  display: flex;
  gap: 8px;
  width: 100%;
}

.page-footer .container .footer-top .subscribe-form .form .form-input {
  border-radius: 12px;
  padding: 20px 18px;
  width: 90%;
  border: 0;
}
.page-footer .container .footer-top .subscribe-form .form .form-input:focus {
  outline: 0;
}

.page-footer
  .container
  .footer-top
  .subscribe-form
  .form
  .form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #121212;
}
.page-footer .container .footer-top .subscribe-form .form .form-button {
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background-color: #1d1d1d;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.page-footer .container .footer-bottom {
  display: flex;
  justify-content: space-between;
}
